.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.app h1 {
  color: #edeaea;
  margin-bottom: 5px;
}

.app p{
  margin: 10px;
  color: #8e8d8d;
}